<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fastJSON" version="2.1.27" targetFramework="net452" />
  <package id="FSharp.Core" version="3.1.2.5" targetFramework="net452" />
  <package id="FsPickler" version="4.6" targetFramework="net452" />
  <package id="FsPickler.CSharp" version="4.6" targetFramework="net452" />
  <package id="FsPickler.Json" version="4.6" targetFramework="net452" />
  <package id="MessagePack" version="2.5.94" targetFramework="net472" />
  <package id="MessagePack.Annotations" version="2.5.94" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel" version="7.0.0" targetFramework="net452" />
  <package id="Microsoft.NET.StringTools" version="17.4.0" targetFramework="net472" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="SharpSerializer" version="3.0.1" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="6.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="YamlDotNet" version="4.3.2" targetFramework="net452" />
</packages>